.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 120px 160px 50px;
}

.logoWrapper {
  display: grid;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  background: center url('/src/pages/landing/media/logo.png') no-repeat;
  background-size: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.userInfo {
  display: grid;
  align-content: center;
}

.userInfo p {
  color: #fff;
  font-size: 30px;
  margin: 0 0 5px 0;
  padding-left: 10px;
  font-family: 'SansSemiBold';
  cursor: default;
}

.totalCost {
  font-family: 'SansBold';
  font-size: 20px;
  padding: 5px;
  cursor: default;
}

.totalCost > span {
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
  background-color: rgba(204, 204, 204, 0.3);
}

.totalCost > span > span {
  color: #fff;
  font-size: 24px;
  font-family: 'SansBold';
}
