.containerUser {
  display: grid;
  width: 100%;
  grid-template-columns: auto 100px;
  color: #000;
  font-size: 20px;
  position: relative;
}

.containerUser__info {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  align-content: flex-start;
  padding-top: 15px;
  grid-template-rows: 30px 30px;
  margin-left: -5px;
  padding-right: 5px;
}

.containerUser__info span {
  margin: 0 auto;
}

.containerUser__info span:last-child {
  font-family: 'SansBold';
}

.avatar {
  background: center no-repeat url('../media/avatar.svg');
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-size: contain;
}

@media screen and (max-width: 1000px) {
  .avatar {
    height: 90px;
    width: 90px;
    border-radius: 90px;
  }
}
