.container {
  display: grid;
  width: 100%;
  height: 100vh;
}

.container__background {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(35, 122, 87, 0.85),
      rgba(9, 48, 40, 0.85)
    ),
    url('../media/background.png');
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 100%;
}
