.container {
  display: grid;
  place-items: center;
}

.button {
  background: linear-gradient(90deg, rgb(241, 39, 17), rgb(245, 175, 25));
  border: none;
  color: #fff;
  font-family: 'SansSemiBold';
  font-size: 16px;
  width: 70%;
  padding: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\142f';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: linear-gradient(
    90deg,
    rgba(241, 39, 17, 0.9),
    rgba(245, 175, 25, 0.9)
  );
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
